@media(max-width: 767px){
    //Стили для телефона
    .center{
        padding-left: 16px;
        padding-right: 16px;
    }
    img{
        max-width: 100%;
    }
    .top{
        text-align: center;
    }
    .header{
        border-bottom: none;
        .header-links{
            display: flex;
            gap: 32px;
            text-align: center;
        }
    }
    .header-search{
        display: none;
    }
    .menu{
        display: none;
    }
    .tittle{
        font-size: 48px;
        line-height: 59px; 
        margin-top: 29px;       
    }
    .subtitle{
        font-size: 16px;        
    }
    .link-catalog{
        font-size: 14px;    
    }
    .main{
        font-size: 24px;
        line-height: 29px; 
    }
    .for-grid{
        grid-template-columns: repeat(4,1fr);
    }
    .for-item{
        font-size: 28px;
        line-height: 34px;
        grid-column: 1 /-1;
        height: 375px;
    } 
    .for-item-big{
        height: 244px;
    } 
   .product-heading{
        font-size: 18px;
        line-height: 22px;
    }     
    .price{
        font-size: 18px;
        line-height: 22px;
    }
    .price-sale{
        font-size: 18px;
        line-height: 22px;
    }
    .footer-info{
        gap: 70px;  
        text-align: left;
    }
    .footer-content{
        flex-wrap: wrap;
        gap: 32px;
        justify-content: center;
        
    }
    
    //Каталог
    .top-catalog{
        background-position: center center;
    }
    .tittle-catalog{
        font-size: 48px;
        line-height: 59px;
        text-align: center;
    }
    .catalog-menu{
        flex-wrap: wrap;
        gap: 16px;
        margin-top: 32px;
    }
    .catalog-breadcrumb-li{
       text-decoration: none;
    }
    .catalog-breadcrumb li a {
        font-size: 14px;        
    }
    .catalog-select{
        line-height: 17px;
    }
    //Корзина
    .heading-cart{
        font-size: 48px;
        line-height: 59px;
        text-align: center;
    }
    .for-grid-cart{
        grid-template-columns: repeat(4,1fr);
        .for-item-cart{
            grid-column: 1 /-1;
        } 
    }       
    .product-cart-img{
        display: none;
    }
    .product-heading{
        font-size: 18px;
        line-height: 22px;
    }
    .product-cart-text{
        font-size: 12px;
        line-height: 15px;
    }
    .price{
        font-size: 12px;
        line-height: 15px;
    }
    .button-for-item-cart{
        margin-top: 32px;
        //margin-bottom: 48px;
        display: flex;
        .cart-button-del{
            font-size: 12px;
            line-height: 15px;
            width: 163px;
        }
        .cart-button-buy{
            font-size: 12px;
            line-height: 15px;
            width: 163px; 
        }   
    }   
    .for-grid-cart-checkout{
        display: inline-flex;
    } 
    .cart-checkout-info{
        margin-left: 28px;
        margin-right: 28px;
    }
    .cart-button-checkout{
        width: 290px;
    }


}